@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --color-text: #03111c;
  --color-background: #dfeffc;
  --color-primary: #0a3a61;
  --color-secondary: #cce5fa;
  --color-accent: #1887e2;

  --color-dark-mode-text: #e3f1fc;
  --color-dark-mode-background: #031321;
  --color-dark-mode-primary: #9ecef5;
  --color-dark-mode-secondary: #00294c;
  --color-dark-mode-accent: #1d8ce7;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility skeleton {
  @apply relative animate-pulse p-0.5 before:absolute before:inset-0 before:rounded-md before:bg-secondary dark:before:bg-darkMode-secondary;
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility right-mask {
  mask-image: linear-gradient(90deg, #000 calc(100% - 120px), transparent);
}

@utility left-mask {
  mask-image: linear-gradient(90deg, transparent, #000 120px);
}

@utility mask {
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 120px,
    #000 calc(100% - 120px),
    transparent
  );
}

@layer base {
	:root {
		color-scheme: light dark;
	}

	body {
		@apply bg-background text-text dark:bg-darkMode-background dark:text-darkMode-text;
	}

	h1,
	.h1 {
		@apply text-2xl font-medium;
	}

	h2,
	.h2 {
		@apply text-xl font-medium;
	}

	h3,
	.h3 {
		@apply text-lg;
	}

	h4,
	.h4 {
		@apply text-base;
	}
}
