@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light dark;
	}

	body {
		@apply bg-background text-text dark:bg-darkMode-background dark:text-darkMode-text;
	}

	h1,
	.h1 {
		@apply text-2xl font-medium;
	}

	h2,
	.h2 {
		@apply text-xl font-medium;
	}

	h3,
	.h3 {
		@apply text-lg;
	}

	h4,
	.h4 {
		@apply text-base;
	}
}

@layer components {
	.skeleton {
		@apply relative animate-pulse p-0.5 before:absolute before:inset-0 before:rounded-md before:bg-skeleton dark:before:bg-darkMode-skeleton;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.right-mask {
		mask-image: linear-gradient(90deg, #000 calc(100% - 120px), transparent);
	}

	.left-mask {
		mask-image: linear-gradient(90deg, transparent, #000 120px);
	}

	.mask {
		mask-image: linear-gradient(90deg, transparent, #000 120px, #000 calc(100% - 120px), transparent);
	}
}
