name: Build and Deploy the Image

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build-and-push-image:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write

        steps:
            - name: Log in to ghcr.io
              uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b #v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 #v5
              with:
                  images: ghcr.io/${{ github.repository }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push
              uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d #v6
              with:
                  sbom: true
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
