name: Prettier Code Formatting

on:
    push:
        branches: ['main']
    pull_request:
        branches: ['main']

jobs:
    prettier:
        name: Check Formatting
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - name: Setup Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
              with:
                  node-version: '24'

            - name: Install dependencies
              run: npm ci

            - name: Check Formatting
              run: npx prettier --check .
